img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
}

p {
  margin: 0px;
  text-align: center;
}

#drag-container {
  border: 2px solid #0000; 
  margin: 0; 
  padding: 50px;
}

.form-container{
  max-width: 200%;
}

.drag-element {
  position: absolute;
  top: 0px;
  left: 0px;
}

.drag-element.dropped {
  border: 1px solid #00ff00;
}

.drag-element-source {
  position: relative;
  float: left;
  display: block;
}

.handle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 2em;
}

#drop-container.drop-target {
  border: 2px dashed #00ff00;
}

#scroll-box{
  border: 1px solid #ccc;
  white-space: nowrap;
  overflow-y: scroll;
  height: 600px;
  max-height: 50%;
  max-width: 30%;
}

#plane-container {
  font-size: 34px;
  border-style: solid;
  margin-left: 50px;
  margin-top: 30px;
  border-color: black;
  border-width: 5px;
  height: 145mm;
  width: 145mm;
  background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  border-radius: 5px;
  transition: transform 0.5s;

}

.rect {
  width:120px;
  height:120px;  
  position:relative;
}

/* Rotating classes */
.r90 {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  top: 20px;
  left: -20px;
}

.r180 {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.r270 {
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  top: 20px;
  left: -20px;
}

.dropzone {
  border: dashed 4px white;
  padding: 10px;
  transition: background-color 0.3s;
}
.element-trash{
margin-top: 377px;
margin-left: 80px;
color: white;
background: maroon;
width: 200px;
/* padding-top: 60px; */
}

